source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/sln-parser/api/v3/index.json
storage: none
framework: netcoreapp2.1, net461

nuget FSharp.Core >= 4.3.4 lowest_matching: true
nuget System.ValueTuple ~> 4.4 lowest_matching: true
nuget FSharp.Compiler.Service ~> 37.0
nuget Argu ~> 5.1

nuget Sln ~> 0.4.0
nuget Microsoft.Build
nuget Microsoft.Build.Framework
nuget Microsoft.Build.Utilities.Core
nuget Microsoft.Build.Locator

nuget Expecto
nuget Expecto.Diff
nuget MedallionShell

// the Fsc build task
github Microsoft/visualfsharp:Visual-Studio-2017-Version-15.4 src/fsharp/FSharp.Build/Fsc.fs
github Microsoft/visualfsharp:Visual-Studio-2017-Version-15.4 src/fsharp/FSharp.Build/Microsoft.FSharp.Targets
